<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
    <link rel="icon" href="C:\Users\Administrador\Downloads\Captura_de_pantalla_2025-11-04_172448-removebg-preview.png" type="image/png">
</head>
<body>
    <h1><img src="C:\Users\Administrador\Downloads\logo.jpeg" width="100" height="55" aling="left">Innova Y emprende</h1>
    <hr>
    <br>
    <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tu correo">  
  <br>
  <br>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <br>
  <br>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</body>
</html>
